* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  color: #222;
  min-height: 100vh;

  background-image: url('latar1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  background: rgba(255, 122, 0, 0.9);
  color: white;
  text-align: center;
  padding: 25px 15px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  backdrop-filter: blur(5px);
}

header h1 {
  font-size: 25px;
  margin-bottom: 8px;
}

.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding: 18px;
  max-width: 600px;
  margin: auto;
}

.menu button {
  padding: 14px;
  border: none;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.95);
  color: #ff7a00;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0,0,0,0.18);
  cursor: pointer;
  backdrop-filter: blur(5px);
}

.menu button:hover {
  background: #ff7a00;
  color: white;
}

.container {
  padding: 0 18px 25px;
  max-width: 600px;
  margin: auto;
}

.card {
  background: rgba(255,255,255,0.95);
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  backdrop-filter: blur(5px);
}

.hidden {
  display: none;
}

h2 {
  color: #ff7a00;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-top: 14px;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 14px;
}

input,
select {
  width: 100%;
  padding: 13px;
  border: 1px solid #ddd;
  border-radius: 12px;
  font-size: 16px;
  background: white;
}

.card button {
  width: 100%;
  margin-top: 18px;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: #ff7a00;
  color: white;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.card button:hover {
  background: #e66d00;
}

.hasil {
  margin-top: 18px;
  padding: 15px;
  background: rgba(255, 244, 230, 0.95);
  border-left: 5px solid #ff7a00;
  border-radius: 12px;
  line-height: 1.7;
  font-size: 15px;
}
